:root {
    --header-bg: #2b2b2b;
    --nav-bar-color: rgba(88, 146, 159, 0.8);
    --nav-p-color: rgb(211, 211, 211);
    --nav-p-color-selected: rgb(255, 255, 255);
    --deco-card-bg: rgb(43, 43, 43);
    --deco-card-border: rgb(68, 68, 68);
}

* {
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

@font-face {
    font-family: "Jellyo";
    src: url("./fonts/Jellyo.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Marmelad";
    src: url("./fonts/Marmelad-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

img {
    width: fit-content;
    height: fit-content;
    object-fit: contain;
}

body {
    margin: 0;
    font-family: "Marmelad", sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    background: linear-gradient(to bottom, #282f51 0%, #315793 50%, #151c30 100%);
    background-attachment: fixed;
    height: 100vh;
    overflow-y: auto;
}

header {
    text-align: center;
    padding: 1rem;
    background-color: var(--header-bg);
}

header h1 {
    font-family: "Jellyo", sans-serif;
    font-size: 2.5rem;
    margin: 0;
    font-weight: normal;
}

.main-nav {
    position: sticky;
    z-index: 10;
    top: 0;
}
.top-nav {
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    background: var(--nav-bar-color);
    backdrop-filter: blur(5px);
    z-index: 2;
}

.top-nav p {
    font-size: 20px;
    cursor: pointer;
    width: fit-content;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    padding: 10px;
    color: var(--nav-p-color);
    transition: border-bottom 0.2s ease, color 0.2s ease;
}
.top-nav p:hover, .top-nav p.selected {
    border-bottom: 2px solid var(--nav-p-color);
    color: var(--nav-p-color-selected);
}

.search-bar {
    position: relative;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    background-color: var(--header-bg);
    color: white;
    padding: 10px;
    z-index: 1;
    transform: translateY(-100px);
    transition: transform 0.3s ease-in-out;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: unset;
    padding: 20px;
}
body:has(#content.decors) .search-bar {
    transform: translateY(0px);
}

.text-block {
    text-align: center;
    max-width: 670px;
}
.text-block > * {
    letter-spacing: 2px;
    margin: 5px;
}

.homenav-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 50px;
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    overflow: visible;
}
@media only screen and (max-width: 1000px) {
    .homenav-grid {
        width: 300px;
    }
}
.homenav-grid > div {
    width: 270px;
    height: 270px;
    scale: 0.93;
    border-radius: 20px;
    cursor: pointer;
    outline: 3px solid rgba(16, 17, 19, 0.4);
    outline-offset: -3px;
    box-shadow: 0 0 0px #ffffff00;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    transition: scale 0.5s ease, box-shadow 0.5s ease;
}
.homenav-grid > div:hover {
    scale: 1;
    box-shadow: 0 0 50px #9cc4ffa6;
}

.homenav-grid > div.var1 {
    background: linear-gradient(to bottom, #A185F0, #634C95);
}
.homenav-grid > div.var2 {
    background: linear-gradient(to bottom, #6DBFBC, #206281);
}
.homenav-grid > div.var3 {
    background: linear-gradient(to bottom, #A7DD66, #11965F);
}

.homenav-grid > div > div {
    height: 180px;
    width: 214px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.homenav-grid > div > div > img {
    width: 100%;
    height: 100%;
}
.homenav-grid > div h1 {
    flex-shrink: 0;
}

.decoration-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.decoration-container .deco {
    position: absolute;
    height: 100%;
}
.decoration-container .avatar {
    position: absolute;
    height: 100%;
    scale: 0.83;
}


.categories-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.categories-container .category {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.categories-container .category .banner {
    position: relative;
    min-width: 500px;
    max-width: 1200px;
    min-height: 200px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    object-fit: cover;
}
.categories-container .category .decorations {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}
.categories-container .category .decorations .deco-card {
    width: 100%;
    height: 200px;
    background-color: var(--deco-card-bg);
    border-radius: 5px;
    border: 2px solid var(--deco-card-border);
}




.artists-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 20px;
    overflow: visible;
}
@media only screen and (max-width: 1000px) {
    .artists-list {
        max-width: 800px;
    }
}
.artists-list > div {
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.artists-list > div:hover {
    transform: scale(1.02);
}
.artists-list > div:active {
    transform: scale(0.98);
}
.artists-list > div img, .artists-list > div video {
    width: 100%;
    max-height: 100px;
}





.modal {
    position: relative;
    background-color: rgba(130, 157, 189, 0.336);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    overflow: visible;
    padding: 20px;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 301;
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-container.show {
    opacity: 1;
    transform: scale(1);
}

.modal-back {
    z-index: 300;
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    margin-top: -100px;
    margin-left: -100px;
    background-color: #00000063;
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal-back.show {
    opacity: 1;
}






a {
    color: #40baf3;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: none;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #6947b3;
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7b53d1;
}

.hidden {
    display: none;
}